name: Deploy UrbanGrow CloudFormation Stack

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-session-token: ${{ secrets.AWS_SESSION_TOKEN }}
          aws-region: us-east-1

      - name: Deploy CloudFormation Stack
        run: |
          aws cloudformation deploy \
            --stack-name ${{ secrets.GROUP_NAME }}-urbangrow-stack \
            --template-file cfstack.yml \
            --capabilities CAPABILITY_NAMED_IAM \
            --parameter-overrides \
              GroupName=${{ secrets.GROUP_NAME }} \
              GroupSize=${{ secrets.GROUP_SIZE }} \
              KeyName=${{ secrets.KEY_NAME }}

      - name: Install Mongo Shell
        run: |
          sudo apt-get update
          sudo apt-get install -y mongodb-mongosh

      - name: Get MongoDB Public IP
        run: |
          DB_IP=$(aws cloudformation describe-stacks \
            --stack-name ${{ secrets.GROUP_NAME }}-urbangrow-stack \
            --query "Stacks[0].Outputs[?OutputKey=='MongoServerPublicIP'].OutputValue" \
            --output text)
          echo "DB_SERVER_IP=$DB_IP" >> $GITHUB_ENV

      - name: Wait for MongoDB & Load Data
        run: |
          echo "Waiting for MongoDB at $DB_SERVER_IP..."

          for i in {1..20}; do
            if mongosh "mongodb://$DB_SERVER_IP:27017" --eval "db.runCommand({ ping: 1 })" >/dev/null 2>&1; then
              echo "MongoDB is ready"
              break
            fi
            echo "Not ready yet ($i)..."
            sleep 15
          done

          mongosh "mongodb://$DB_SERVER_IP:27017" < DBLoad.js
